@page
@model AplicatieSalaDeFitness.Pages.Sesiuni.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sesiune[0].Tip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sesiune[0].Antrenor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sesiune[0].Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sesiune) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Antrenor.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SesiuneId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SesiuneId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SesiuneId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
