@page
@model AplicatieSalaDeFitness.Pages.Membri.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Membrilor:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Membru[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membru[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membru[0].Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Membru) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MembruId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MembruId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MembruId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
